

nav{

    background-color: #292929;

}


.carousel-inner img {
    width: 100%;
    height: 280px;
}


.container{

    background-color: #292929;


}

.btn{

    background-color: #292929;


}

.container-sm{

    background-color: #ffffff;


}